<div class="text-center search_by_account">
  <%= form_tag account_histories_path, :method => 'get'  do %>
    <%= text_field_tag :account_id, params[:account_id], placeholder: 'Enter account id' %>
    <%= submit_tag "Search", name: nil, class: 'btn btn-success', style: 'margin-left: 10px' %>
  <% end %>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Transaction ID</th>
      <th scope="col">Account ID</th>
      <th scope="col">Operation</th>
      <th scope="col">Amount</th>
      <th scope="col">Currency</th>
      <th scope="col">Time</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <% @account_histories.each do |a| %>
    <tr>
      <th scope="row"><%= a.id %></th>
      <td><%= a.account_id %></td>
      <td><%= a.operation %></td>
      <td><%= a.amount %></td>
      <td><%= current_user.accounts.where(id: a.account_id).first.currency %></td>
      <td><%= a.created_at.strftime("%d/%m/%Y | %T") %></td>
      <td><%= button_to 'Delete', account_history_path(a), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-right' %></td>
    </tr>
  <% end %>
  </tbody>
</table>