<div class='profile-text text-center'>
  Your account:
</div>
<div class="container">
  <div class="row accounts">
    <div class="col-sm text-center">
      <%= @accounts.first.currency %> balance : <%= @accounts.first.amount %>
      <div class="">
        <%= simple_form_for @accounts.first,  url: user_account_withdraw_path(current_user.id, @accounts.first.id), method: :post do |f|%>
          <%= f.input :amount, input_html: {value: ''} %>
          <%= f.button :submit, 'Submit', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>