<div class='profile-text text-center'>
  Your accounts:
</div>
<div class="container">
  <div class="row accounts">
    <div class="col-sm text-center" style="padding-right:20px; border-right: 1px solid #ccc;">
      <%= @accounts.find_by(currency: 'UAH').currency %> balance : <%= @accounts.find_by(currency: 'UAH').balance %>
      <p>
      <%= simple_form_for @accounts.find_by(currency: 'UAH'), url: user_account_transaction_path(current_user.id, @accounts.find_by(currency: 'UAH')), method: :post do |f|%>
        <%= f.input :amount, label: false, input_html: {value: ''} %>
        <%= f.button :submit, 'Withdraw', class: 'btn btn-success' %>
        <%= f.button :submit, 'Deposit', class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class="col-sm text-center">
      <%= @accounts.find_by(currency: 'USD').currency %> balance : <%= @accounts.find_by(currency: 'USD').balance %>
      <p>
      <%= simple_form_for @accounts.find_by(currency: 'USD'),  url: user_account_transaction_path(current_user.id, @accounts.find_by(currency: 'USD')), method: :post do |f|%>
        <%= f.input :amount, label: false, input_html: {value: ''} %>
        <%= f.button :submit, 'Withdraw', class: 'btn btn-success' %>
        <%= f.button :submit, 'Deposit', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>